body {
    background-color: #212121;
    color: white;
    font-family: monospace;
    font-size: 16px;
    direction: rtl;
}


code {
    background-color: rgb(73, 73, 73);
    display: block;
    direction: ltr;
    padding: 5px;
}


.en {
    direction: ltr;
}

.fa {
    direction: rtl;
}

div {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

a {
    text-decoration: none;
    color: green;
}